@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form-container {
    margin: 0 auto;
    width: fit-content;
}

.form-group {
    text-align: center;
}

.form-group label {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 30px;
}